.form {
    display: flex;
    gap: 10px;
    max-width: 300px;

    margin-top: 10px;

}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

 
.button {
    height: 40px;
    padding: 10px;
    background-color:#024e29;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
 
.button:hover {
    background-color:#024e29;
}